@{
    ViewBag.Title = "Om oss";
}
<h2>@ViewBag.Title</h2>

<p>
    Garage 2.0 är P-Huset som full ut har anammat den i Liljeholmen populära trenden som går under namnet "Blended Parking". Grundtanken i Blendid Parking är
    att det inte har någon betydelse vilket färdmedel du använder. Det går alltid att parkera oavsett om du kommer flygande i en Concorde eller har kryssat hit
    med Finlandsbåten. Grundarna av Garage 2.0 insåg redan för några månader sedan att det här skulle bli ett lyft för parkeringsbranschen och det har med
    råge visat sig stämma.
</p>

<p>
    Välkommen att prova själv! Upplev känslan av att ställa ditt fordon bredvid en lyxjakt. Eller varför inte intill en dubbeldäckare? Alla behandlas lika och har
    naturligtvis samma taxa.
</p>
