@{
    ViewBag.Title = "Du är alltid välkommen att kontakta oss";
}
<h1>@ViewBag.Title</h1>
<address>
    Garage 2.0<br />
    Årstaängsvägen 9<br />
    Telefon:  +46 (0)8 555 5500
</address>

<p>
    VD: Stefan Lövefors   <a href="mailto:StefanLovefors@garage20.com">stefan.lovefors@garage20.com</a>
</p>