@{
    ViewBag.Title = "Home Page";
}

<div class="bodyimg">
    <div id="textbox">
        <p id="welcome">Välkommen till vårt Garage 2.0!</p>
            <p id="white-text">
                Garaget ligger lättillgängligt i Liljehomen.<br />
                Parkering är avgiftsbelagd.<br />
                Taxan är 10 kronor per påbörjad 10-minutersperiod.<br />
                Alla fordonstyper är tillåtna!
            </p>
    </div>
</div>
